# [submodule "packages/tutor-app"]
# 	path = packages/tutor-app
# 	url = git@gitlab.com:tuteria/tutor-mobile-app.git
[submodule "packages/shared-lib"]
	path = packages/shared-lib
	url = git@gitlab.com:tuteria/v2/shared-lib.git
[submodule "packages/web-app"]
	path = packages/web-app
	url = git@gitlab.com:tuteria/v2/tutor-frontend-app.git
[submodule "packages/tuteria-data"]
	path = packages/tuteria-data
	url = git@gitlab.com:tuteria/v2/tuteria-data.git
[submodule "packages/store-app"]
	path = packages/store-app
	url = git@gitlab.com:tuteria/v2/tuteria-store.git
[submodule "packages/tutor-client-lib"]
	path = packages/tutor-client-lib
	url = git@gitlab.com:tuteria/v2/tuteria-client-library.git
[submodule "packages/tutor-app"]
	path = packages/tutor-app
	url = git@gitlab.com:tuteria/v2/tutor-frontend-app.git
